<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler,Autofac.Configuration"/>
  </configSections>
  <autofac>
    <components>
      <component type="Haep.AOP.Logging.Implement.Log,Haep.AOP.Logging.Implement"
                 service="Haep.AOP.Logging.ILog,Haep.AOP.Logging"/>
      <component type="Haep.AOP.ErrorHanding.Implement.ErrorHandler,Haep.AOP.ErrorHanding.Implement"
                 service="Haep.AOP.ErrorHanding.IErrorHandler,Haep.AOP.ErrorHanding"/>
    </components>
  </autofac>
</configuration>